@keyframes button-hover {
    0% {background-color: blue; width: 12.5%; height: 100%; z-index: 0;}
    50% {background-color:  aqua; width: 15%; height: 115%; z-index: 1;}
    100% {background-color: blue; width: 12.5%; height: 100%; z-index: 0;}
}

#header-body {
    background-color: purple;
    color: white;
    height: 10em;
    border: 5px yellow none;
    position: relative;
}

#nav-bar {
    border: 5px white none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: black;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.nav-item {
    background-color: White;
    border: 5px red solid;
    width: 10%;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    animation: button-hover 3s linear 0s infinite alternate;
}

