#card {
    border: 5px black solid;
    width: 50%;
    margin: 2.5em auto;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

.image {
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
}