#card {
    border: 5px black solid;
    width: 50%;
    margin: 2.5em auto;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

.example {
    height: 100%;
    width: 100%;
    z-index: 2;
}